* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f4f8;
    font-family: Arial, sans-serif;
    padding: 20px;
}

/*
   TOPO
*/

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.topbar h1 {
    color: #1f4e79;
    font-size: 2.5rem;
}

.btn-logout {
    background: #d9534f;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 10px;
}


.dashboard {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

/*
   SEGUNDA LINHA
*/

.bottom-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/*
   CARDS
*/

.card {
    background: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.card h2 {
    margin-bottom: 15px;
    color: #111;
}

.card p {
    color: #666;
    margin-bottom: 15px;
}

/*
   SALDO
*/

.resumo {
    text-align: center;
}

.resumo h1 {
    font-size: 3rem;
    color: #000;
    margin-bottom: 15px;
}

/*
   BOTÕES
*/

a {
    display: inline-block;
    margin-top: 10px;
    padding: 12px 18px;
    background: #1f4e79;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: .2s;
}

a:hover {
    opacity: .9;
}

/*
   GRÁFICOS
*/

.resumo canvas {
    width: 100% !important;
    max-height: 250px;
}

.grafico {
    min-height: 500px;
}

.grafico canvas {
    width: 100% !important;
    height: 350px !important;
}

/*
   TRANSAÇÕES
*/

.gastos {
    min-height: 500px;
}

.gastos ul {
    list-style: none;
}

.gastos li {
    padding: 12px 0;
    border-bottom: 1px solid #ececec;
    font-size: 1rem;
}

.gastos li:last-child {
    border-bottom: none;
}

/*
   RESPONSIVO
*/

@media (max-width: 600px) {

    .dashboard {
        grid-template-columns: 1fr;
    }

    .bottom-row {
        grid-template-columns: 1fr;
    }

    .topbar {
        flex-direction: column;
        gap: 15px;
    }

    .topbar h1 {
        font-size: 2rem;
    }
}
